@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@mixin heading($sizeValue) {
    font-size: $sizeValue;
    font-family: 'Helvetica Nue', sans-serif;
    font-weight: 700;
}

@mixin subHeading($sizeValue) {
    font-size: $sizeValue;
    font-family: 'Helvetica Nue', sans-serif;
    font-weight: 700;
}

@mixin paragraph($sizeValue) {
    font-size: $sizeValue;
    color: $grey;
    font-family: 'Helvetica Nue', sans-serif;
    font-weight: 400;
}

@mixin nav($sizeValue) {
    font-size: $sizeValue;
    color: $pink;
    font-family: 'Helvetica Nue', sans-serif;
    font-weight: 400;
}