.svg-top-right {

    .blue-triangle {
        width: 13%;
        rotate: 40deg;
        position: absolute;
        top: 200px;
        left: 800px;
        opacity: .6;
        filter: drop-shadow( 10px 10px 1px rgba(0, 0, 0, .7));
    }

    .bold-purple-circle {
        width: 5%;
        position: absolute;
        top: 1200px;
        right: 420px;
    }

}

