.svg-top-right {

    position: relative;
    bottom: 40%;
    left: 10%;

    @keyframes Spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .blue-triangle {
        width: 100%;
        rotate: 40deg;
        opacity: .5;
        filter: drop-shadow( 10px 10px 1px rgba(0, 0, 0, .7));
        animation: Spin infinite 100s linear;
    }

}

.skills-svg {
    width: 20%;
    position: relative;
    top: 80px;
    left: 500px;
}

.cube {
    width: 10%;
    filter: drop-shadow( 6px 2px 1px $pink);
    position: relative;
    top: 200px;
}