@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  position: relative;
  z-index: -1;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.projects-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 75%;
}

ul {
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

header {
  background-color: #232227;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115vh;
  width: 100%;
  text-align: left;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  position: relative;
  z-index: -100;
}

header video {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  opacity: .4;
}

header .arrow {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0;
}

header .arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid #1395a4;
  border-right: 3px solid #1395a4;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2.4s infinite;
          animation: animate 2.4s infinite;
}

@media (max-width: 600px) {
  header .arrow span {
    display: none;
  }
}

header .arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

header .arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

header .header-text {
  margin-left: 200px;
  margin-top: -230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
}

@media (max-width: 710px) {
  header .header-text {
    margin-left: 100px;
  }
}

@media (max-width: 600px) {
  header .header-text {
    width: 70%;
  }
}

@media (max-width: 400px) {
  header .header-text {
    margin-right: 90px;
  }
}

header .header-text h1 {
  font-size: 5rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 0;
}

header .header-text h2 {
  font-size: 1.3rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  color: #F65E8D;
  margin-left: 10px;
}

header .skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  color: #ffff;
  font-size: 1rem;
}

header .skip-link:focus {
  left: 5px;
  margin-top: 0;
  padding: 3px 20px 0;
}

aside {
  position: absolute;
  right: 10%;
  top: 5.5%;
  z-index: 100;
  margin-right: 5%;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

@media (max-width: 1000px) {
  aside {
    position: -webkit-sticky;
    position: sticky;
    margin: 0 auto;
    right: 0;
  }
}

aside .current {
  position: relative;
  right: 4px;
  color: #1395a4;
  font-size: 1.5rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

aside nav {
  font-size: 1.5rem;
  color: #F65E8D;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  width: 200px;
  border-top: 2px solid #F65E8D;
  border-left: 2px solid #F65E8D;
  position: fixed;
  padding: 14px;
  opacity: .9;
}

@media (max-width: 1000px) {
  aside nav {
    width: 100%;
    height: 6%;
    border: none;
    top: 0;
    background-color: black;
    opacity: .7;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }
  aside nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside nav:hover, aside nav:focus {
    opacity: .9;
  }
}

aside nav li {
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

aside nav li a {
  font-size: 1.3rem;
  color: #F65E8D;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  text-decoration: none;
  padding: 5px;
}

@media (max-width: 400px) {
  aside nav li a {
    font-size: 1rem;
    color: #F65E8D;
    font-family: 'Helvetica Nue', sans-serif;
    font-weight: 400;
  }
}

aside nav li:hover, aside nav li:focus {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  cursor: pointer;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #312a63;
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  color: #ffff;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.inner-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
}

@media (max-width: 1000px) {
  .inner-wrapper {
    width: 90%;
  }
}

.about-me {
  height: 100vh;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  font-size: 2rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .about-me {
    width: 100%;
    margin: 50px;
    height: auto;
  }
}

.about-me .about-me-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 710px) {
  .about-me .about-me-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about-me .about-me-text {
  margin: 40px;
  overflow-x: hidden;
}

@media (max-width: 710px) {
  .about-me .about-me-text {
    margin: 10px 0 10px 10px;
  }
}

.about-me .bio-text {
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  width: 80%;
}

.about-me .photo {
  padding-top: 60px;
  max-width: 35%;
  margin: 0;
}

@media (max-width: 1000px) {
  .about-me .photo {
    max-width: 100%;
  }
}

.about-me .photo img {
  border-radius: 3px;
  min-width: 100px;
  max-width: 240px;
}

.about-me .photo .button {
  border: none;
  display: block;
  text-decoration: none;
  background-color: #312a63;
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
  color: #ffff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
  opacity: .8;
  border-radius: 3px;
}

.about-me .photo .button:hover, .about-me .photo .button:focus {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.about-me .photo .button:active {
  position: relative;
  top: 2px;
}

.skills {
  background-color: #EBEBEB;
  -webkit-clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0 100%);
          clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0 100%);
  z-index: -200;
  margin: 0 auto;
  padding-bottom: 100px;
}

.skills .skills-header {
  font-size: 3rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  padding-top: 100px;
}

.skills h4 {
  font-size: 1.5rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  color: #686464;
}

.skills .skills-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30% 30% 30% 30%;
      grid-template-rows: 30% 30% 30% 30%;
  -ms-grid-columns: 23% 23% 23% 23%;
      grid-template-columns: 23% 23% 23% 23%;
  padding: 20px;
}

@media (max-width: 600px) {
  .skills .skills-list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin: 0 40px;
  }
}

.skills .skills-list .fa-html5, .skills .skills-list .fa-css3-alt {
  position: relative;
  left: 5px;
}

.skills .skills-list .javascript {
  position: relative;
  right: 20px;
}

.skills .skills-list .responsive-design {
  position: relative;
  padding: 0;
  right: 40px;
}

@media (max-width: 1000px) {
  .skills .skills-list .responsive-design {
    padding-left: 20px;
  }
}

.skills .skills-list .accessibility {
  position: relative;
  right: 20px;
}

.skills .skills-list .fa-universal-access {
  position: relative;
  left: 20px;
}

.skills .skills-list .fa-fire {
  position: relative;
  left: 10px;
}

.skills .skills-list .fa-bootstrap {
  position: relative;
  left: 10px;
}

.skills .skills-list .fa-mobile-alt {
  position: relative;
  left: 50px;
}

@media (max-width: 1000px) {
  .skills .skills-list .fa-mobile-alt {
    left: 30px;
  }
}

.skills .skills-list .fab, .skills .skills-list .fas {
  color: #312a63;
  font-size: 3rem;
  padding-top: 26px;
}

.skills .skills-list .fa-js-square {
  position: relative;
  left: 25px;
}

.skills .skills-list .jquery {
  position: relative;
  top: 20px;
}

.skills .skills-list p {
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  width: 80%;
}

.skills .soft-skills-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  padding-bottom: 20px;
  margin-top: 60px;
  width: 100%;
}

@media (max-width: 710px) {
  .skills .soft-skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.projects {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.projects h3 {
  font-size: 3rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  padding-top: 100px;
}

.projects h4 {
  font-size: 2rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
}

.projects .first-link, .projects a {
  font-size: 1.1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: none;
  color: #F65E8D;
  opacity: .8;
}

.projects .first-link:hover, .projects .first-link:focus, .projects a:hover, .projects a:focus {
  cursor: pointer;
  opacity: 1;
}

.projects .first-link {
  border-right: 1.5px solid black;
  padding-right: 14px;
  margin-right: 4px;
}

.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

.projects .popsipoll {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .projects .popsipoll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.projects .popsipoll .popsipoll-image-container {
  width: 100%;
}

.projects .popsipoll .popsipoll-image-container img {
  width: 100%;
}

.projects .popsipoll .popsipoll-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .popsipoll .popsipoll-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr .5fr .5fr;
      grid-template-columns: .5fr .5fr .5fr;
  width: 100%;
  text-align: left;
  position: relative;
}

@media (max-width: 1000px) {
  .projects .popsipoll .popsipoll-icons {
    right: 0.1%;
    width: 100%;
    -ms-grid-columns: 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr 2fr;
  }
}

.projects .popsipoll .fab, .projects .popsipoll .fas {
  color: #312a63;
  font-size: 3rem;
  padding-top: 26px;
}

.projects .popsipoll p {
  width: 80%;
  margin-left: 0;
}

.projects .dejabrew {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.3fr;
      grid-template-columns: 1fr 1.3fr;
  margin: 200px 0;
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

@media (max-width: 1000px) {
  .projects .dejabrew {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .projects .dejabrew {
    margin: 50px 0;
  }
}

.projects .dejabrew .dejabrew-image-container {
  width: 100%;
}

.projects .dejabrew .dejabrew-image-container img {
  width: 100%;
}

.projects .dejabrew .dejabrew-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .dejabrew .dejabrew-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr .5fr .5fr;
      grid-template-columns: .5fr .5fr .5fr;
  width: 100%;
}

@media (max-width: 600px) {
  .projects .dejabrew .dejabrew-icons {
    right: 60px;
  }
}

@media (max-width: 1000px) {
  .projects .dejabrew .dejabrew-icons {
    right: 0.1%;
    width: 100%;
    -ms-grid-columns: 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr 2fr;
  }
}

.projects .dejabrew .fab, .projects .dejabrew .fas {
  color: #312a63;
  font-size: 3rem;
  padding-top: 26px;
}

.projects .dejabrew p {
  margin-right: 0;
  width: 80%;
}

.projects .adjacent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 200px;
}

@media (max-width: 1000px) {
  .projects .adjacent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .projects .adjacent {
    margin-bottom: 40px;
  }
}

.projects .adjacent .adjacent-image-container {
  width: 100%;
}

.projects .adjacent .adjacent-image-container img {
  width: 100%;
}

.projects .adjacent .adjacent-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .adjacent .adjacent-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .25fr .55fr 1fr;
      grid-template-columns: .25fr .55fr 1fr;
  width: 100%;
}

@media (max-width: 1000px) {
  .projects .adjacent .adjacent-icons {
    right: 0.1%;
    width: 100%;
    -ms-grid-columns: 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr 2fr;
  }
}

.projects .adjacent .adjacent-icons li:nth-last-of-type(2) {
  margin-left: 40px;
}

.projects .adjacent .adjacent-icons li:nth-last-of-type(2) .fa-js-square {
  position: relative;
  left: 10px;
}

@media (max-width: 1000px) {
  .projects .adjacent .adjacent-icons li:nth-last-of-type(2) {
    margin-left: 0;
  }
}

.projects .adjacent .fab, .projects .adjacent .fas {
  color: #312a63;
  font-size: 3rem;
  padding-top: 26px;
}

.projects .adjacent p {
  margin-right: 0;
  width: 80%;
}

.contact {
  background-color: #232227;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 4%, 100% 100%, 0 100%);
          clip-path: polygon(0% 0%, 100% 4%, 100% 100%, 0 100%);
  padding-bottom: 30px;
  position: relative;
  overflow-x: hidden;
}

.contact .cube {
  position: absolute;
  left: 65%;
}

@media (max-width: 710px) {
  .contact .cube {
    left: 80%;
    bottom: 90%;
  }
}

.contact h3 {
  font-size: 3rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  color: #ffff;
  padding-top: 150px;
  margin-bottom: 80px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

.contact form div {
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .contact form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact form div input[type="text"], .contact form div input[type="email"] {
  width: 245px;
  background-color: transparent;
  border: none;
  border-left: 2px solid #ffff;
  border-bottom: 2px solid #ffff;
  padding: 7px;
  color: #ffff;
}

@media (max-width: 600px) {
  .contact form div input[type="text"], .contact form div input[type="email"] {
    width: 100%;
  }
}

.contact form label {
  font-size: 0;
}

.contact form textarea {
  resize: none;
  background-color: transparent;
  border: none;
  width: 500px;
  min-height: 200px;
  border-left: 2px solid #ffff;
  border-bottom: 2px solid #ffff;
  color: #ffff;
  padding: 7px;
}

@media (max-width: 600px) {
  .contact form textarea {
    width: 100%;
  }
}

.contact form button {
  width: 200px;
  margin-top: 50px;
  border: none;
  background-color: #312a63;
  font-size: 1.2rem;
  padding: 10px;
  color: #ffff;
  padding: 10px;
  opacity: .9;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
  border-radius: 3px;
}

.contact form button:hover, .contact form button:focus {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.contact form button:active {
  position: relative;
  top: 2px;
}

@media (max-width: 600px) {
  .contact form button {
    width: 100%;
  }
}

.contact .in-touch {
  padding-top: 300px;
  padding-bottom: 150px;
}

.contact .in-touch .in-touch-text {
  margin-bottom: 100px;
}

@media (max-width: 600px) {
  .contact .in-touch .in-touch-text {
    margin-top: 100px;
    overflow-x: hidden;
  }
}

.contact .in-touch .in-touch-text h4 {
  font-size: 2rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  color: #ffff;
}

.contact .in-touch .in-touch-text p {
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  color: #ffff;
  width: 60%;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

@media (max-width: 600px) {
  .contact ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact ul li {
  padding-right: 50px;
  margin: 0;
}

.contact ul li a {
  font-size: 0;
}

.contact ul li .fab {
  color: #F65E8D;
  font-size: 2.5rem;
  opacity: 1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.contact ul li .fab:hover, .contact ul li .fab:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 1;
}

.contact a {
  font-size: 1.4rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  color: #ffff;
  text-decoration: none;
}

.contact .fas {
  color: #686464;
  font-size: 1.5rem;
}

.svg-top-right {
  position: relative;
  bottom: 40%;
  left: 10%;
}

@media (max-width: 1000px) {
  .svg-top-right {
    display: none;
  }
}

@-webkit-keyframes Spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.svg-top-right .blue-triangle {
  width: 100%;
  rotate: 40deg;
  opacity: .5;
  -webkit-filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.7));
  -webkit-animation: Spin infinite 100s linear;
          animation: Spin infinite 100s linear;
}

.skills-svg {
  width: 20%;
  position: relative;
  top: 80px;
  left: 500px;
}

.cube {
  width: 10%;
  -webkit-filter: drop-shadow(6px 2px 1px #F65E8D);
          filter: drop-shadow(6px 2px 1px #F65E8D);
  position: relative;
  top: 200px;
}

@media (max-width: 600px) {
  .cube {
    display: none;
  }
}
