@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  position: relative;
  z-index: -1;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
}

ul {
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

header {
  background-color: #312a63;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115vh;
  width: 100%;
  text-align: left;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  position: relative;
  z-index: -100;
}

header .down-arrow {
  position: absolute;
  bottom: 18%;
  font-size: 2rem;
  opacity: .6;
  -webkit-animation: bounce 3s infinite;
          animation: bounce 3s infinite;
}

header .down-arrow a {
  padding: 50px;
  color: #ffff;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

header .header-text {
  margin-left: 200px;
  margin-top: -230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

header .header-text h1 {
  font-size: 5rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 0;
  opacity: .8;
}

header .header-text h2 {
  font-size: 1.3rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  color: #F65E8D;
  margin-left: 10px;
  opacity: .8;
}

.contact {
  background-color: #EBEBEB;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 4%, 100% 100%, 0 100%);
          clip-path: polygon(0% 0%, 100% 4%, 100% 100%, 0 100%);
  padding-bottom: 50px;
}

.contact h3 {
  font-size: 3rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  color: #000000;
  padding-top: 150px;
  margin-bottom: 80px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  width: 700px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
}

.contact form div {
  margin-bottom: 50px;
}

.contact form div input[type="text"], .contact form div input[type="email"] {
  width: 245px;
  background-color: transparent;
  border: none;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  padding: 7px;
  color: #000000;
}

.contact form div input[type="text"]::-webkit-input-placeholder, .contact form div input[type="email"]::-webkit-input-placeholder, .contact form div textarea::-webkit-input-placeholder {
  color: #000000;
}

.contact form div input[type="text"]:-ms-input-placeholder, .contact form div input[type="email"]:-ms-input-placeholder, .contact form div textarea:-ms-input-placeholder {
  color: #000000;
}

.contact form div input[type="text"]::-ms-input-placeholder, .contact form div input[type="email"]::-ms-input-placeholder, .contact form div textarea::-ms-input-placeholder {
  color: #000000;
}

.contact form div input[type="text"]::placeholder, .contact form div input[type="email"]::placeholder, .contact form div textarea::placeholder {
  color: #000000;
}

.contact form textarea {
  resize: none;
  background-color: transparent;
  border: none;
  width: 500px;
  min-height: 200px;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  color: #000000;
  padding: 7px;
}

.contact form button {
  width: 200px;
  margin-top: 50px;
  border: none;
  background-color: #312a63;
  font-size: 1.2rem;
  padding: 10px;
  color: #ffff;
  padding: 10px;
  opacity: .9;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
}

.contact form button:hover, .contact form button:focus {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.contact form button:active {
  position: relative;
  top: 2px;
}

.contact .in-touch {
  padding-top: 300px;
  padding-bottom: 150px;
}

.contact .in-touch .in-touch-text {
  margin-bottom: 100px;
}

.contact .in-touch .in-touch-text h4 {
  font-size: 2rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  color: #000000;
}

.contact .in-touch .in-touch-text p {
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  color: #000000;
  width: 60%;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.contact ul li {
  padding-right: 50px;
  margin: 0;
}

.contact ul li .fab {
  color: #312a63;
  font-size: 2.5rem;
  opacity: .9;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.contact ul li .fab:hover, .contact ul li .fab:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 1;
}

.contact a {
  font-size: 1.4rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.contact .fas {
  color: #686464;
  font-size: 1.5rem;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #312a63;
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  color: #ffff;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: .7;
  bottom: 0;
}

.inner-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 60%;
}

aside {
  position: absolute;
  right: 10%;
  top: 5.5%;
  z-index: 100;
  margin-right: 5%;
}

aside nav {
  font-size: 1.5rem;
  color: #F65E8D;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  width: 200px;
  border-top: 2px solid #F65E8D;
  border-left: 2px solid #F65E8D;
  position: fixed;
  padding: 14px;
  opacity: .7;
}

aside nav li {
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

aside nav li a {
  font-size: 1.3rem;
  color: #F65E8D;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

aside nav li:hover, aside nav li:focus {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  cursor: pointer;
}

.about-me {
  height: 100vh;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
}

.about-me .about-me-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me .about-me-text {
  margin: 40px;
}

.about-me .bio-text {
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
}

.about-me .photo {
  padding-top: 60px;
  max-width: 35%;
  margin: 0;
}

.about-me .photo img {
  width: 100%;
}

.about-me button {
  border: none;
  background-color: #312a63;
  font-size: 1.2rem;
  padding: 10px;
  margin-left: 70px;
  color: #ffff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
  opacity: .8;
}

.about-me button:hover, .about-me button:focus {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.about-me button:active {
  position: relative;
  top: 2px;
}

.skills {
  background-color: #EBEBEB;
  -webkit-clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0 100%);
          clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0 100%);
  z-index: -200;
  margin: 0 auto;
  padding-bottom: 100px;
}

.skills .skills-header {
  font-size: 3rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  padding-top: 100px;
}

.skills h4 {
  font-size: 1.5rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  color: #686464;
}

.skills .skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

.skills .skills-list li {
  text-align: center;
  padding: 20px;
}

.skills .skills-list .fab, .skills .skills-list .fas {
  color: #312a63;
  font-size: 3rem;
  padding-top: 26px;
}

.skills .skills-list p {
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  width: 80%;
}

.skills .soft-skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
  margin-top: 60px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.projects h3 {
  font-size: 3rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
  padding-top: 100px;
}

.projects h4 {
  font-size: 2rem;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 700;
}

.projects .first-link, .projects a {
  font-size: 1.1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #F65E8D;
  opacity: .8;
}

.projects .first-link:hover, .projects .first-link:focus, .projects a:hover, .projects a:focus {
  cursor: pointer;
  opacity: 1;
}

.projects .first-link {
  border-right: 1.5px solid black;
  padding-right: 14px;
  margin-right: 4px;
}

.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

.projects .popsipoll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  margin: 100px 0;
}

.projects .popsipoll .popsipoll-image-container {
  width: 100%;
}

.projects .popsipoll .popsipoll-image-container img {
  width: 120%;
}

.projects .popsipoll .popsipoll-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .popsipoll .popsipoll-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects .popsipoll .fab, .projects .popsipoll .fas {
  color: #312a63;
  font-size: 3rem;
  padding-top: 26px;
}

.projects .popsipoll p {
  width: 80%;
  margin-left: 0;
}

.projects .dejabrew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  margin: 100px 0;
}

.projects .dejabrew .dejabrew-image-container {
  width: 100%;
}

.projects .dejabrew .dejabrew-image-container img {
  width: 100%;
}

.projects .dejabrew .dejabrew-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .dejabrew .dejabrew-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

.projects .dejabrew .fab, .projects .dejabrew .fas {
  color: #312a63;
  font-size: 3rem;
  padding-top: 26px;
}

.projects .dejabrew p {
  margin-right: 0;
  width: 80%;
}

.projects .adjacent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  color: #686464;
  font-family: 'Helvetica Nue', sans-serif;
  font-weight: 400;
  margin: 100px 0;
}

.projects .adjacent .adjacent-image-container {
  width: 100%;
}

.projects .adjacent .adjacent-image-container img {
  width: 100%;
}

.projects .adjacent .adjacent-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 80px;
}

.projects .adjacent .adjacent-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

.projects .adjacent .fab, .projects .adjacent .fas {
  color: #312a63;
  font-size: 3rem;
  padding-top: 26px;
}

.projects .adjacent p {
  margin-right: 0;
  width: 80%;
}

html {
  scroll-behavior: smooth;
}
